<div class="row">
 
  <div class="col-6">
    <label>Week</label>
    <input type="week" name="week" [(ngModel)]="week">
  </div>
  <div class="col-6">
      <select name="type" [(ngModel)]="Type"  >
          <option value="Modules">By modules</option>
          <option value="Activities">By Activities</option>
      </select>
    </div>
    <div class="offset-1"></div>
  <div class="col-2 border border-dark" *ngFor="let weekday of weekdays"> 
    <span>{{weekday.name}}</span>
    <div *ngFor="let entity of entities[weekday.id]"
        [style.background-color]="entity.color"
        [style.height.ex]="entity.length"
        style="position: relative;"
        [style.top.ex]="entity.OffsetTime"
      >

    </div>
  </div>

  <div class="col-1"></div>
  </div>
