<div class="row">
 
  <div class="col-6 nopad">
    <input type="week" name="week" [(ngModel)]="week">
  </div>
  <div class="col-6 nopad" >
      <select name="type" [(ngModel)]="type"  >
          <option value="Modules">By modules</option>
          <option value="Activities">By activities</option>
      </select>
    </div>
  </div>
    <div *ngIf="entities" class="row">
    <div class="offset-1"></div>
  <div class="col-2 border border-dark nopad" *ngFor="let weekday of weekdays"
  [style.height.em]="maxlength"
  > 
    <span  [title]="weekday.name">{{weekday.acronym}}</span>
    <div *ngFor="let entity of entities[weekday.id]"
        [style.background-color]="entity.color"
        [style.height.em]="entity.length"
        [style.z-index]="entity.zindex"
        [style.width.%]="entity.width"
        [style.left.%]="entity.left"
        [style.top.em]="entity.offsettime"
        style="position:relative;"
   
        
        [title]="entity.description"
      >
 {{entity.name}}
    </div>
    
  </div>
  <div class="col-1"></div>
</div>


